fastapi>=0.104.1
uvicorn[standard]>=0.23.2
sqlalchemy>=2.0.23
psycopg2-binary>=2.9.9
asyncpg
pgvector>=0.2.3
passlib[bcrypt,argon2]>=1.7.4
argon2-cffi
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
pydantic[email]>=2.4.2
pydantic-settings>=2.0.3
langchain>=0.0.334
langchain-google-genai>=0.0.3
langchain-groq>=1.1.0
langchain-community
langchain-chroma
pypdf>=3.17.1
alembic>=1.12.1
chromadb
slowapi
pytest
httpx
python-json-logger
ruff
black
pytest-mock
sentry-sdk

rank_bm25
flashrank
groq
ddgs
langchain-mcp-adapters
